{% extends "terrafirma/base.html" %}

{% load staticfiles %}

{% block menu %}
<div id="menu">
	<ul>
		<li><a href="/">Inicio</a></li>
		<li><a href="/aparcamientos">Todos</a></li>
		<li><a href="/about">About</a></li>
	</ul>
</div>
{% endblock %}

{% block main %}
<div class="post">
	{% csrf_token %}
	{% if user.is_authenticated %}
        <form method='POST'>Introduce un comentario: <br>
			<input type='text' name='Comentario'>
        	<input type='submit' value='Enviar'>
		</form>
        <form method = 'POST'>
			<button type='submit' name='Add'>Añadir a pagina personal
			</button><br>
		</form>
	{% endif %}
	<div class="header">
		<h3>Datos del aparcamiento:</h3>
	</div>
	<div class="content">
		Nombre: {{aparcamiento.nombre}} <br>
	    Latitud: {{aparcamiento.latitud}} <br>
	    Longitud: {{aparcamiento.longitud}} <br>
	    Descripción: {{aparcamiento.descripcion}} <br>
	    {% if aparcamiento.accesibilidad == 1 %}
	        Accesible = Sí <br>
	    {% else %}
	        Accesible = No <br>
		{% endif %}
	    Barrio: {{aparcamiento.barrio}} <br>
	    Distrito: {{aparcamiento.distrito}} <br>
	    {% if aparcamiento.telefono != "" or aparcamiento.telefono != "S/T" or aparcamiento.telefono != "T/D" %}
	        Teléfono: {{aparcamiento.telefono}} <br>
		{% endif %}
	    {% if aparcamiento.email != "" %}
	        Email: {{aparcamiento.email}} <br>
		{% endif %}
		Comentarios: <br>
			{% for comentario in comentarios %}
				· {{comentario.texto}}<br>
			{% endfor %}
	</div>
</div>
{% endblock %}
