<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

	terrafirma1.0 by nodethirtythree design
	http://www.nodethirtythree.com

-->
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<title>terrafirma1.0 by nodethirtythree</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="stylesheet" type="text/css" href="static/terrafirma/default.css" />
</head>
<body>

<div id="outer">

	<div id="fondo"></div>	<!-- lineas diagonales del fondo-->

	<div id="inner">

		<div id="header">
			<div id="log">{{Login|safe}}</div>
		</div>

		<div id="banner"></div>

		<div id="menu">
			<ul>
				<li class="first"><a href="#">Home</a></li>
				<li><a href="#">Archives</a></li>
				<li><a href="#">Links</a></li>
				<li><a href="#">Resources</a></li>
				<li><a href="#">Contact</a></li>
			</ul>

		<div id="date">August 1, 2006</div>
		</div>


		<div id="primarycontent">

			<!-- primary content start -->

			<div class="post">
				<div class="header">
					<h3>TerraFirma<sup>1.0</sup> by asdasda</h3>
				</div>
				<div class="content">
					<p>{{Parkings|safe}}</p>
				</div>
				<div class="footer">
					<ul>
						<li class="printerfriendly"><a href="#">Printer Friendly</a></li>
						<li class="comments"><a href="#">Comments (18)</a></li>
						<li class="readmore"><a href="#">Read more</a></li>
					</ul>
				</div>
			</div>

			<!-- primary content end -->

		</div>

		<div id="secondarycontent">

			<!-- secondary content start -->

			<h3>About Me</h3>
			<div class="content">
				<p>{{Lateral|safe}}</p>
			</div>

			<h3>Topics</h3>
			<div class="content">
				<ul class="linklist">
					<li class="first"><a href="#">Accumsan congue (32)</a></li>
					<li><a href="#">Dignissim nec augue (14)</a></li>
					<li><a href="#">Nunc ante elit nulla (83)</a></li>					<li><a href="#">Aliquam suscipit (74)</a></li>					<li><a href="#">Cursus sed arcu sed (14)</a></li>					<li><a href="#">Eu ante cras at risus (24)</a></li>					<li><a href="#">Donec mollis dolore (39)</a></li>					<li><a href="#">Aliquam suscipit (74)</a></li>				</ul>
			</div>

			<!-- secondary content end -->

		</div>

		<div id="footer">

			Esta aplicación utiliza datos del portal de datos abiertos de la ciudad de Madrid. <a href="http://datos.munimadrid.es/portal/site/egob/menuitem.ac61933d6ee3c31cae77ae7784f1a5a0/?vgnextoid=00149033f2201410VgnVCM100000171f5a0aRCRD&format=xml&file=0&filename=202584-0-aparcamientos-residentes&mgmtid=e84276ac109d3410VgnVCM2000000c205a0aRCRD&preview=full">XML</a>. <a href="http://datos.madrid.es/portal/site/egob/menuitem.c05c1f754a33a9fbe4b2e4b284f1a?vgnextoid=e84276ac109d3410VgnVCM2000000c205a0aRCRD&vgnextchannel=374512b9ace9f310VgnVCM100000171f5a0aRCRD&vgnextfmt=default">Descripción</a>.

		</div>

	</div>

</div>

</body>
</html>
